# Dependências do Node
/node_modules/

# Build de projetos nativos
/android/
/ios/

# Arquivos e pastas temporários
*.log
*.tmp
*.swp
*.swo

# Configurações de IDE
/.vscode/
/.idea/
/*.iml

# Outras configurações específicas
.expo/
.expo-shared/
